* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}
.cardProduct {
  min-height: 100%;
}

/*.mainPage {
  background-image: url("./images/background.jpg");
}*/